.icon {
  display: block;
  flex-shrink: 0;
}

.sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}
